<html>
<meta charset="UTF-8">
<head>
    <title>Workout Calendar</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
<style>
</style>
<body>
<div id="app">
    <el-row>
        <el-col :span="12" :offset="6">
            <h3>Training Cycles</h3>
            <el-form :model="form" label-width="200px">
                <el-form-item label="Functions">
                    <el-button type="primary" @click="addCycle">Add cycle</el-button>
                </el-form-item>
                <template v-for="(cycle, index) in form.cycles">
                    <el-form-item>
                        <div slot="label">
                            <div>{{ 'Cycle ' + (index + 1) }}</div>
                        </div>
                    </el-form-item>
                    <el-form-item>
                        <el-form>
                            <el-form-item label="Type">
                                <el-select v-model="cycle.type">
                                    <el-option value="train" label="training day"></el-option>
                                    <el-option value="off" label="off day"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                    </el-form-item>
                </template>
            </el-form>
        </el-col>
    </el-row>
</div>
<script src="plugins/vue.js"></script>
<script src="plugins/element.min.js"></script>
<script src="plugins/moment.min.js"></script>
<script src="plugins/axios.min.js"></script>
<script type="text/javascript">
    class Workout {
        constructor() {
            this.type = null;
        }
    }

    class Cycle {
        constructor() {
            this.type = null;
        }
    }

    function getVueWatch() {
        let watchObject = {};
        Object.keys(form).forEach(key => {
            watchObject['form.' + key] = function () {
                localStorage.setItem('form', JSON.stringify(this.form));
            }
        });

        return watchObject;
    }

    let form = {
        cycles: [new Cycle()],
    };

    new Vue({
        el: '#app',
        data() {
            let storageForm = JSON.parse(localStorage.getItem('form'));

            return {
                form: (storageForm) ? this.fixEmptyFormProperty(storageForm, form) : form,
            };
        },
        methods: {
            fixEmptyFormProperty(storageForm, originForm) {
                Object.keys(originForm).forEach(originKey => {
                    if (storageForm[originKey] === undefined) {
                        storageForm[originKey] = originForm[originKey];
                    }
                });

                return storageForm;
            },
            addCycle() {
                this.form.cycles.push(new Cycle());
            }
        },
        watch: getVueWatch(),
    })
</script>
</body>
</html>
